@model List<UsuarioModel>
@*
@{
    ViewData["Title"] = "Listagem de Usuario";
}
*@
<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Usuario" asp-action="Criar">Adicionar novo Usuario</a>
    </div>
    <br />
    @*    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Json">API GET</a>
    </div>*@
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm btn-close close-alert" arial-label="Close"></button> @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm btn-close close-alert " arial-label="Close"></button>
            @TempData["MensagemErro"]
        </div>
    }




    <br />

    <h1 class="display-5" style="text-align:center"> Listagem de Usuario: </h1>
    <table class="table" id="table-usuarios">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Senha</th>
                <th scope="col">Perfil</th>
                <th scope="col">Total de Contatos</th>
                <th scope="col">Data de Cadastro</th>
                <th scope="col">Data de Atualização</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.id</th>
                        <td>@usuario.nome</td>
                        <td>@usuario.login</td>
                        <td>@usuario.email</td>
                        <td>@usuario.Senha</td>
                        <td>@usuario.Perfil</td>
                        <td>
                            <a href="javascript:" usuario-id="@usuario.id" class="btn btn-success btn-sm btn-total-contatos">
                                @(usuario.Contatos != null && usuario.Contatos.Any() ? usuario.Contatos.Count() : 0)
                            </a>
                        </td>
                        <td>@usuario.DataDeCadastro</td>
                        <td>@usuario.DataDeAtualizacao</td>

                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary active" aria-current="page" asp-route-id="@usuario.id" asp-controller="Usuario" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@usuario.id" asp-controller="Usuario" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div id="modalContatosUsuario" class="modal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Listagem de contatos</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                   <div id="listaContatosUsuario">

                    </div>

                </div>

            </div>
        </div>
    </div>


</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
